.info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 70px 0 0 0;
    width: 100%;
}
.info-row {
    margin-bottom: 70px;
}
.info-text {
    font-family: var(--font-primary);
}

.info-title {
    font-size:3.5em !important;
    font-family: "Great Vibes", cursive;

}

.info-p {
    font-size: 1.1em !important;
}

.info-text {
    margin-top: 20px;
}
