.info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 110px 0 50px 0;
    width: 100%;
    overflow: hidden
}
.info-row {
    margin-bottom: 70px;
}
.info-text {
    font-family: var(--font-primary);
}

.info-title {
    font-size:3.5em !important;
    font-family: "Great Vibes", cursive;

}

.info-p {
    font-size: 1.1em !important;
}

.info-text {
    margin-top: 20px;
}
@media screen and (max-width: 400px) {
    .info {
        padding: 70px 0 10px 0;
    }

}
@media (min-width: 401px) and (max-width: 480px) {
    .info {
        padding: 70px 0 10px 0;
    }

}

@media (min-width: 481px) and (max-width: 576px) {
    .info {
        padding: 70px 0 10px 0;
    }


}

@media (min-width: 576px) and (max-width: 767px) {
    .info {
        padding: 70px 0 10px 0;
    }

}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1700px) {
}
