.review-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative ;
    overflow: hidden
}
.swiper-reviews {
    height: 450px;
    background-image: url("../../assets/reviews.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.swiper-reviews-each {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.7em;
}


.reviews-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(19, 22, 19, 0.4);
}


.reviews-title {
    position: absolute ;
    color: white;
    z-index: 10;
    top: 70px;
    font-size: 5em;
    font-family: "Great Vibes", cursive;
    font-weight: 500;
}

.reviews-p {
    z-index: 10;
    padding-top: 100px;
}
@media screen and (max-width: 400px) {
    .reviews-title {
        font-size:4em;
    }
    .swiper-reviews-each {
        font-size: 1.4em;
        padding: 0 30px;
    }
    .swiper-reviews {
        background-attachment: scroll;
    }

}
@media (min-width: 401px) and (max-width: 480px) {
    .reviews-title {
        font-size:4.3em;
    }
    .swiper-reviews-each {
        font-size: 1.5em;
        padding: 0 30px;
    }
    .swiper-reviews {
        background-attachment: scroll;
    }
}

@media (min-width: 481px) and (max-width: 576px) {
    .reviews-title {
        font-size:4.3em;
    }
    .swiper-reviews-each {
        font-size: 1.5em;
        padding: 0 30px;
    }
    .swiper-reviews {
        background-attachment: scroll;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .reviews-title {
        font-size:4.3em;
    }
    .swiper-reviews-each {
        font-size: 1.5em;
        padding: 0 50px;
    }
    .swiper-reviews {
        background-attachment: scroll;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    .swiper-reviews-each {

        padding: 0 50px;
    }
    .swiper-reviews {
        background-attachment: scroll;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .swiper-reviews {
        background-attachment: scroll;
    }
}

@media (min-width: 12001px) and (max-width: 1400px) {
    .swiper-reviews {
        background-attachment: scroll;
    }
}

@media (min-width: 1700px) {
}
