@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swiper {
    width: 100%;
    height: 100vh;
}
.image-wrapper {
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(19, 22, 19, 0.4);
}
.home-headers-wrapper {
    padding: 100px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 1;
}

.home-header {
    color: white;
    font-size: 6em;
    font-family: "Great Vibes", cursive;
    line-height: 1;
}

.home-sub-header {
    color: white;
    font-size: 2.7em;
    margin-bottom: 20px;
    font-family: "Tinos", serif;
}
.ant-btn.book-table-button {
    background-color: rgba(255, 255, 255);
    border: 1px solid  rgba(17, 18, 17);
    height: fit-content;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.35em;
    border-radius: 0;
    color:  rgb(23, 35, 23);
}


.ant-btn.make-order-button {
    background-color: rgba(17, 18, 17);
    border: 1px solid white;
    height: fit-content;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.35em;
    border-radius: 0;
    color: white;
}
