.about {
    padding: 100px 100px;
}

.about-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-title {
    font-family: "Great Vibes", cursive;
    font-size: 5em !important;
}

.about-p {
    font-size: 1.3em !important;
    padding: 0 0 0 10px;
    text-align: justify;
    font-family: var(--font-primary);
}
