@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
overflow: hidden
}

.swiper {
    width: 100%;
    height: 100vh;
    animation: fadeIn 1s ease-out forwards;
}

.image-wrapper {
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
}

.home-headers-wrapper {
    padding: 100px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    min-width: 390px;
}

.home-header {
    color: white;
    font-size: 6.5em;
    font-family: "Great Vibes", cursive;
    line-height: 1;

}

.home-sub-header {
    color: white;
    font-size: 2.7em;
    margin-bottom: 20px;
    font-weight: 600;
}

.book-table-button {
    background-color: rgba(255, 255, 255);
    border: 1px solid rgba(17, 18, 17);
    height: fit-content;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.45em;
    border-radius: 25px;
    color: black ;
    padding: 6px 23px;
    cursor: pointer;
}

.make-order-button {
    background-color: rgba(4, 4, 4, 0.9);
    border: 1px solid white;
    height: fit-content;
    text-transform: uppercase;
    font-size: 1.45em;
    border-radius: 23px;
    color: white ;
    padding: 6px 25px;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .home-headers-wrapper {
        padding: 10px;
    }

    .home-header {
        font-size: 3em;
        width: 390px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-sub-header {
        font-size: 1.8em;
    }
    .ant-btn.book-table-button {
        font-size: 1.2em;
    }

    .ant-btn.make-order-button {
        font-size: 1.2em;
    }

}
@media (min-width: 401px) and (max-width: 480px) {
    .home-headers-wrapper {
        padding: 10px;
    }

    .home-header {
        font-size: 3.3em;
    }

    .home-sub-header {
        font-size: 2em;
    }
    .ant-btn.book-table-button {
        font-size: 1.4em;
    }

    .ant-btn.make-order-button {
        font-size: 1.4em;
    }
}

@media (min-width: 481px) and (max-width: 576px) {
    .home-headers-wrapper {
        padding: 10px;
    }

    .home-header {
        font-size: 3.7em;
    }

    .home-sub-header {
        font-size: 2.25em;
    }
    .ant-btn.book-table-button {
        font-size: 1.65em;
    }

    .ant-btn.make-order-button {
        font-size: 1.65em;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .home-headers-wrapper {
        padding: 10px;
    }

    .home-header {
        font-size:4.2em;
    }

    .home-sub-header {
        font-size: 2.25em;
    }
    .ant-btn.book-table-button {
        font-size: 1.75em;
    }

    .ant-btn.make-order-button {
        font-size: 1.75em;
    }

}

@media (min-width: 768px) and (max-width: 992px) {


    .home-header {
        font-size: 5em;
    }


}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1700px) {
}
