.reservation {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b0b0b;
}

.info-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    animation: fadeIn 1s ease-out forwards;
}
