.footer {
    height: 370px;
    display: flex;
    align-items: center;
    background-image: url("../../assets/footer.jpeg");
    background-size: cover;
    justify-content: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden

}
.footer-wrapper {
    width: 95%;
    padding-bottom: 55px;

}
.footer-overlay {
    height: 370px;
    width: 100%;
    position: absolute;
    background-color: rgba(7, 5, 5, 0.85);

}
.footer-title  {
    color: var(--primary-color);
    font-size: 1.7em;
    margin-bottom: 15px;
    font-weight: 500;
    z-index: 1;
}
.footer-sitemap ul {
    list-style-type: none;
    padding: 0;
}

.footer-sitemap ul li {
    margin-bottom: 8px;
    z-index: 1;
}

.footer-sitemap ul li a {
    color: var(--primary-color);
    font-size: 1.15em;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social .anticon {
    cursor: pointer;
    z-index: 1;
}

.copywright {
    width: 100%;
    height: 55px;
    position: absolute ;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copywright {
    color: #e5e5e5;
    font-size: 0.8em;
}
@media screen and (max-width: 400px) {
    .footer {
        height: 850px;
        background-attachment: scroll;
        background-image: url("../../assets/mobile/footer-min.jpeg");
    }
    .footer-overlay {
        height: 850px;
    }
    .footer-map {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .footer-social-wrapper {
        margin-top: 50px;
    }
    .footer-sitemap ul li a {
        font-size: 1.3em;
    }
}
@media (min-width: 401px) and (max-width: 480px) {
    .footer {
        height: 850px;
        background-attachment: scroll;
        background-image: url("../../assets/mobile/footer-min.jpeg");
    }
    .footer-overlay {
        height: 850px;
    }
    .footer-map {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .footer-social-wrapper {
        margin-top: 50px;
    }
    .footer-sitemap ul li a {
        font-size: 1.3em;
    }
}

@media (min-width: 481px) and (max-width: 576px) {

    .footer {
        height: 850px;
        background-attachment: scroll;
        background-image: url("../../assets/mobile/footer-min.jpeg");
    }
    .footer-overlay {
        height: 850px;
    }
    .footer-map {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .footer-social-wrapper {
        margin-top: 50px;
    }
    .footer-sitemap ul li a {
        font-size: 1.3em;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .footer {
        height: 650px;
        background-attachment: scroll;
        background-image: url("../../assets/mobile/footer-min.jpeg");
    }
    .footer-overlay {
        height: 650px;
    }
    .footer-map {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    .footer {
        background-attachment: scroll;
        background-image: url("../../assets/mobile/footer-min.jpeg");
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .footer {
        background-attachment: scroll;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .footer {
        background-attachment: scroll;
    }
}

@media (min-width: 1700px) {

}

@media (max-width: 768px) {
    .footer-social,
    .footer-sitemap,
    .footer-social {
        text-align: center;
    }
}
