.footer {
    height: 45vh;
    display: flex;
    align-items: center;
    background-image: url("../../assets/footer.jpeg");
    background-size: cover;
    justify-content: center;

}
.footer-wrapper {
    width: 95%;

}
.footer-overlay {
    height: 45vh;
    width: 100%;
    position: absolute;
    background-color: rgba(7, 5, 5, 0.85);

}
.footer-title  {
    color: var(--primary-color);
    font-size: 1.7em;
    margin-bottom: 15px;
    font-weight: 500;
    z-index: 1;
}
.footer-sitemap ul {
    list-style-type: none;
    padding: 0;
}

.footer-sitemap ul li {
    margin-bottom: 8px;
    z-index: 1;
}

.footer-sitemap ul li a {
    color: var(--primary-color);
    font-size: 1.15em;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social .anticon {
    cursor: pointer;
    z-index: 1;
}

@media (max-width: 768px) {
    .footer-social,
    .footer-sitemap,
    .footer-social {
        text-align: center;
    }
}
