@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    letter-spacing: 0.05em;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #060606;
}


:root {
    --primary-color: #ffffff;
    --font-primary: "Open Sans", sans-serif;
    --overlay-color: rgba(21, 13, 13, 0.4);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
