@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

body {
    background-color: #111111;
}



:root {
    --primary-color: #ffffff;
    --secondary-color: #52c41a;
    --background-color: #f0f2f5;
    --text-color: #333;
    --font-primary: "Manrope", sans-serif;
}
