.foodMenu {
background-color: black;
}

.food-menu-bg-wrapper {
    animation: fadeIn 1s ease-out forwards;
    height: 65vh;
    background-image: url('../../assets/home.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drinks-menu-bg-wrapper {
    animation: fadeIn 1s ease-out forwards;
    height: 65vh;
    background-image: url('../../assets/drinks.webp');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-menu-title {
    position: absolute;
    color: white;
    font-size: 7em;
    z-index: 1;
    font-family: "Great Vibes", cursive;
}

.food-menu-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: var(--overlay-color);
}

.menuTabs {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   padding-top: 10px;
    background-color: #fcfcfb;
}


.ant-tabs-tab-btn {
    font-size: 1.3em;
}

.menuTable {
    margin: 20px 0;
    min-width: 900px;
}

.menu-item-name {
    font-size: 1.4em;
}

.menuTable td, .menuTable th {
    padding: 10px 0;
    border-bottom: 2px dotted #d4d4d4;
}

.menu-item-price {
    text-align: right;
}

.menu-item-description {
    font-size: 1.2em;
    padding-right: 30px;
}

.menu-item-price {
    font-size: 1.2em;

}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #000000 !important;
    font-weight: bolder;
}

.ant-tabs-ink-bar {
    background-color: #000000 !important;
}

.ant-tabs-nav::before {
    border-bottom: none !important;
}

.ant-tabs-tab:hover,
.ant-tabs-tab:focus .ant-tabs-tab-btn,
.ant-tabs-tab:active .ant-tabs-tab-btn {
    color: #000000 !important;
}
